
server:
  port: 8955
spring:
  datasource:
    password: abc123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/school?useUnicode=true&allowMultiQueries=true&characterEncoding=utf-8
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  redis:
    database: 0
    host: localhost
    port: 6379
    password: abc123456
    jedis:
      pool:
        max-active: 1000
        max-wait: -1ms
        max-idle: 16
        min-idle: 8
mybatis:
  mapper-locations: classpath*:mapper/*.xml
  type-aliases-package: com.yanda.user
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
emos:
  jwt:
    #密钥
    secret: abc123456
    #令牌过期时间（秒）
    expire:  5
    #令牌缓存时间（秒数）
    cache-expire: 10
wx:
  app-id: "wx67f1b14b12cce313"
  app-secret: "06b7cdd2c6a9daadc9c4958e9589413c"
xxs:
   enabled: false
